﻿@model TipListViewModel
@{
    ViewData["Title"] = "Tips admin panel";
}

<div class="container">
    <div class="row">
        <form asp-action="Admin" method="post">
            <div class="col-xl-8" style="margin-top:30px">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="text-end">
                            <a class="btn btn-primary" asp-controller="Tips" asp-action="AddTip">Add <i class="fas fa-plus"></i></a>
                        </div>
                        <h3 class="panel-title">
                            <strong>Tips overview</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tip id</th>
                                    <th>Text</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tip in Model.lists)
                                {
                                    <tr>
                                        <td>
                                            @Html.ValueFor(model => tip.TipID)
                                        </td>
                                        <td>
                                            @Html.ValueFor(model => tip.TipText)
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-controller="Tip" asp-action="EditTip" asp-route-weightId="@tip.TipID"><i class="far fa-edit"></i></a>
                                            <a class="btn btn-danger" asp-controller="Tip" asp-action="DeleteTip" asp-route-weightId="@tip.TipID"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
