﻿@model PushWeb.Models.TipViewModel
@{
    ViewData["Title"] = "Edit tip";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container" style="margin-top:30px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Edit tip </strong></h3></div>
            <div class="panel-body">
                <form asp-action="EditTip" method="post">
                    <div class="form-group">
                        <label asp-for="TipText" class="control-label"></label>
                        <input asp-for="TipText" class="form-control" id="exampleInputUsername" placeholder="Enter text">
                        <span asp-validation-for="TipText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Edit tip" />
                        <a asp-controller="Tip" asp-action="Admin" class="btn btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>