﻿@model PushWeb.Models.HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1>Welcome!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="height: 18rem;">
                <div class="card-header" style="background:#ff6868">
                    <h3>Start Weight</h3>
                </div>
                <div class="card-body">
                    <div id="first-weight">0</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 18rem;">
                <div class="card-header" style="background:#7cf648">
                    <h3>Current Weight</h3>
                </div>
                <div class="card-body">
                    <div id="last-weight">0</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 18rem;">
                <div class="card-body">
                    <div class="row w-100 align-items-center">
                        <a class="btn btn-primary" asp-controller="Weight" asp-action="AddWeight">Add new weight</a>
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background:#00ffff">
                    <h4 class="display-5 fw-bold">Tip</h4>
                </div>
                <div class="card-body">
                    @Model.Tip
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://inorganik.github.io/countUp.js/dist/countUp.umd.js"></script>
<script>
    //https://github.com/inorganik/countUp.js
    function weightCount(element, weight, options) {
        const c = new countUp.CountUp(element, weight, options);
        c.start();
    }

    weightCount("first-weight", parseFloat("@Model.FirstWeightAmount".replace(',', '.')), {
        decimalPlaces: 1,
    });
    weightCount("last-weight", parseFloat("@Model.LastWeightAmount".replace(',', '.')), {
        decimalPlaces: 1,
        startVal: parseFloat("@Model.FirstWeightAmount".replace(',', '.')),
    });

</script>
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Push",
                horizontalAlign: "left"
            },
            data: [
                
                    double startweight = @Model.FirstWeightAmount,
                
                {
                    type: "doughnut",
                    startAngle: 60,
                    //innerRadius: 60,
                    indexLabelFontSize: 17,
                    indexLabel: "{label} - #percent%",
                    toolTipContent: "<b>{label}:</b> {y} (#percent%)",
                    dataPoints: [
                    { y: 67, label: "Inbox" },
                    { y: 28, label: "Archives" },
                    { y: 10, label: "Labels" },
                    { y: 7, label: "Drafts" },
                    { y: 15, label: "Trash" },
                    { y: 6, label: "Spam" }
                ]
            }]
        });
        chart.render();

    }
</script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>