﻿@model PushWeb.Models.UserViewModel
@{
    ViewData["Title"] = "Login";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Login</strong></h3></div>
                <div class="panel-body">
                    <form asp-action="Index" method="post">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" id="exampleInputUsername" placeholder="Enter Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" id="exampleInputPassword" type="password" placeholder="Enter Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="form-group">
                                <a asp-action="ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Login" />
                        </div>
                        &nbsp;
                    </form>
                    <p>New to Push?</p>
                    <a class="btn btn-primary" asp-controller="Login" asp-action="Register">Create new account!</a>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>              
            </div>
        </div>
        &nbsp;
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:center">
                    <h2>Push yourself to the limit!</h2>
                    <img class="mb-4" src="/images/hero.png" width="400" height="400" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
