﻿@model PushWeb.Models.HomeViewModel;
@{
    ViewData["Title"] = "Admin panel";
}

<div class="container">
    <h1>Admin</h1>
    <div class="row">
        <form asp-controller="Admin" asp-action="Admin" method="post">
            <div class="col-md-4">
                <div class="card" style="height: 18rem;">
                    <div class="card-header" style="background:#45eecf">
                        <h3>Users</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" asp-controller="User" asp-action="Admin">Manage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="height: 18rem;">
                    <div class="card-header" style="background:#5df118">
                        <h3>Tip & motivations</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" asp-controller="Tips" asp-action="Admin">Manage</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="height: 18rem;">
                    <div class="card-header" style="background:#ffe200">
                        <h3>Recipebook</h3>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" asp-controller="Recipebook" asp-action="Admin">Manage</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>