﻿@model PushWeb.Models.RecipeBookListViewModel
@{
    ViewData["Title"] = "Recipebook";
}

<h1>Recipebook</h1>
<div class="container">
    <div class="row align-items-center d-flex justify-content-center">
        @foreach (var book in Model.lists)
         {
            <div class="col-md-3">
                <div class="card" style="height: 12rem">
                    <div class="card-body" style=" background-color:#A7CDD5;">
                        @Html.HiddenFor(model => book.RecipeBookID)
                        <div class="row align-items-center d-flex justify-content-center" style="font-size:30px">
                            @Html.DisplayFor(model => book.RecipeType)
                        </div>                      
                    </div>
                    <div class="footer" style="text-align:center">
                        <a asp-controller="Recipe" asp-action="List" , asp-route-recipebookId="@book.RecipeBookID" class="btn btn-success m-1">Select</a>
                    </div>
                </div>
           </div>
         }
    </div>
</div>
