﻿@model RecipeListViewModel
@{
    ViewData["Title"] = "Tips admin panel";
}

<div class="container">
    <div class="row">
        <form asp-action="Admin" method="post">
            <div class="col-xl-8" style="margin-top:30px">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="text-end">
                            <a class="btn btn-primary" asp-controller="Recipe" asp-action="AddRecipe">Add <i class="fas fa-plus"></i></a>
                        </div>
                        <h3 class="panel-title">
                            <strong>Tips overview</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Recipe id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Recipebook id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var recipe in Model.lists)
                                {
                                <tr>
                                    <td>
                                        @Html.ValueFor(model => recipe.RecipeID)
                                    </td>
                                    <td>
                                        @Html.ValueFor(model => recipe.Name)
                                    </td>
                                    <td>
                                        @Html.ValueFor(model => recipe.Description)
                                    </td>
                                    <td>
                                        @Html.ValueFor(model => recipe.RecipeBookID)
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="Recipe" asp-action="EditRecipe" asp-route-weightId="@recipe.RecipeID"><i class="far fa-edit"></i></a>
                                        <a class="btn btn-danger" asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-weightId="@recipe.RecipeID"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>