﻿@model PushWeb.Models.RecipeViewModel

@{ 
    ViewData["Title"] = "Recipedetails";
}


<div class="container">
    <div class="row">
        <div class="col-xl-8" style="margin-top:30px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <strong>@Model.Name</strong>
                    </h2>        
                    <div class="row">
                        <h6>Description</h6>
                    </div>
                    <div class="row">                       
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>