﻿@model PushWeb.Models.RecipeViewModel
    @{
        ViewData["Title"] = "Edit recipe";
    }
    @{
        Layout = null;
    }
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <div class="container" style="margin-top:30px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Edit recipe </strong></h3></div>
                <div class="panel-body">
                    <form asp-action="EditRecipe" method="post">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" id="exampleInputUsername" placeholder="Enter name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" id="exampleInputUsername" placeholder="Enter name">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RecipeBookID" class="control-label"></label>
                            <input asp-for="RecipeBookID" class="form-control" id="exampleInputUsername" placeholder="Enter name">
                            <span asp-validation-for="RecipeBookID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Edit recipe" />
                            <a asp-controller="Recipe" asp-action="Admin" class="btn btn-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>