﻿@model RecipeListViewModel
@{
    ViewData["Title"] = "DisplayList";
}

<div class="container">
    <div class="row">       
        <div class="col-xl-8" style="margin-top:30px">
            <div class="panel panel-default">
                <div class="panel-heading">        
                    <h3 class="panel-title">
                        <strong>Recipes</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>                                 
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var recipe in Model.lists)
                            {
                            <tr>     
                                <td>
                                    @recipe.Name
                                </td>
                                <td>
                                    @recipe.Description
                                </td>                              
                                <td>                                
                                    <a class="btn btn-success" asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@recipe.RecipeID"> View</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>