﻿@model WeightViewModel
@{
    ViewData["Title"] = "AddWeight";
}

<div class="container" style="margin-top:30px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Add weight</strong></h3></div>
            <div class="panel-body">
                <form asp-controller="Weight" asp-action="AddWeight" method="post">
                    <div class="form-group">
                        <label asp-for="WeightAmount" class="control-label"></label>
                        <input asp-for="WeightAmount" class="form-control" id="weight-amount" placeholder="Enter new weight">
                        <span asp-validation-for="WeightAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WeightDate" class="control-label"></label>
                        <input asp-for="WeightDate" class="form-control" id="weight-date" placeholder="Enter weight date">
                        <span asp-validation-for="WeightDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add" />                    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>