﻿@model WeightViewModel
@{
    ViewData["Title"] = "EditWeight";
}

<div class="container" style="margin-top:30px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Edit weight</strong></h3></div>
            <div class="panel-body">
                <form asp-controller="Weight" asp-action="EditWeight" method="post">
                    <div class="form-group">
                        <label asp-for="WeightAmount" class="control-label"></label>
                        <input asp-for="WeightAmount" value="@Model.WeightAmount" class="form-control" id="weight-amount" placeholder="">
                        <span asp-validation-for="WeightAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WeightDate" class="control-label"></label>
                        <input type="date" asp-for="WeightDate" value="@Html.ValueFor(model => Model.WeightDate, "{0:yyyy/MM/dd}")" class="form-control" id="weight-date" placeholder="">
                        <span asp-validation-for="WeightDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="WeightID" value="@Model.WeightID" />
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>