﻿@model WeightListViewModel
@{
    ViewData["Title"] = "Index";

    double lastAmount = 22000;
}

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8" style="margin-top:30px">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="text-end">
                        <a class="btn btn-primary" asp-controller="Weight" asp-action="AddWeight">Add <i class="fas fa-plus"></i></a>
                    </div>
                    <h3 class="panel-title">
                        <strong>Weight overview</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Weight</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var weight in Model.lists)
                            {
                                <tr>
                                    <td>
                                        @weight.WeightAmount
                                    </td>
                                    <td>
                                        @Html.ValueFor(model => weight.WeightDate, "{0:dd/MM/yyyy}")
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" asp-controller="Weight" asp-action="EditWeight" asp-route-weightId="@weight.WeightID"><i class="far fa-edit"></i></a>
                                        <a class="btn btn-danger" asp-controller="Weight" asp-action="DeleteWeight" asp-route-weightId="@weight.WeightID"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
        {
            title: {
                text: "Weight history"
            },

            data: [
                {
                    type: "area",
                    axisY: {
                        valueFormatString: "0.0#"
                    },
                    dataPoints: [

                        @foreach (var weight in Model.lists)
                        {
                            string date = @Html.ValueFor(model => weight.WeightDate, "{0:yyyy/MM/dd}");
                            double amount = @weight.WeightAmount;

                            <text>
                                {
                                    x: new Date("@date"),
                                    y: parseFloat("@amount".replace(',', '.')),
                                    markerType:
                                @if(amount < lastAmount)
                                {
                                    <text>"circle"</text>;
                                } else
                                {
                                    <text>"cross"</text>;
                                },
                                    markerColor:
                                @if(amount < lastAmount)
                                {
                                    <text>"#6B8E23"</text>;
                                } else
                                {
                                    <text>"#dc3545"</text>;
                                },
                            },
                            </text>
                            lastAmount = amount;   
                        }

                    ]
                }
            ]
        });
        chart.render();
    }
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


