﻿@model PushWeb.Models.UserViewModel
@{
    ViewData["Title"] = "Add user";
}
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container" style="margin-top:30px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Create account </strong></h3></div>
            <div class="panel-body">
                <form asp-action="AddUser" method="post">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" id="exampleInputUsername" placeholder="Enter Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" id="exampleInputUsername" placeholder="Enter Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>                  
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" id="exampleInputPassword" type="password" placeholder="Enter Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                        <label asp-for="Admin" class="control-label"></label>
                        <input asp-for="Admin" class="form-control" id="exampleInputUsername" placeholder="Enter Email">
                        <span asp-validation-for="Admin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Create account" />
                        <a asp-controller="User" asp-action="Index" class="btn btn-primary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>