﻿@model PushWeb.Models.UserListViewModel
@{
    ViewData["Title"] = "User admin panel";
}

<div class="row">
    <div class="col-xl-8" style="margin-top:30px">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="text-end">
                    <a class="btn btn-primary" asp-controller="User" asp-action="AddUser">Add new user<i class="fas fa-plus"></i></a>
                </div>
                <h3 class="panel-title">
                    <strong>Users</strong>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Length</th>
                            <th>Birthday</th>
                            <th>Gender</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.lists)
                        {
                        <tr>
                            <td>
                                @Html.ValueFor(model => user.UserID)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Name)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Email)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Length)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Age)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Gender)
                            </td>
                            <td>
                                @Html.ValueFor(model => user.Admin)
                            </td>                            
                            <td>
                                <a class="btn btn-warning" asp-controller="User" asp-action="EditUser" asp-route-weightId="@user.UserID"><i class="far fa-edit"></i></a>
                                <a class="btn btn-danger" asp-controller="User" asp-action="DeleteUser" asp-route-weightId="@user.UserID"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>